.nav {
    height: 12vh;
    background-color: #0078D7;
    display: flex;
    color: white;
    font-family: "Open Sans", sans-serif;
    
    .nav-logo {
        font-size: 24px;
        font-weight: bolder;
        padding: 1rem 50rem 0 2.3rem;
        p {
            color: white;
        }
    }
    .nav-list {
        font-size: 16px;
        color: white;
        
        ul {
            display: flex;
            list-style-type: none;
            li {
                padding: 0 2rem 0 0;
                font-weight: bolder;
                margin: 1.45rem 0 0 16rem;
                button {
                    margin-top: -2vh;
                    font-weight: bolder;
                }
            }
        }
    }
}