.home {
    margin: auto;
    max-height: 740px;

    .container {
        display: flex;
        flex-direction: row;
        height: 80vh;

        .row {
            display: flex;
            flex-direction: row;
            padding-top: 85px;
    
            .home-info {
                width: 40%;
    
                h1 {
                    margin: 20% 0 5% 15%;
                    font-size: 3vw;
                    font-weight: bolder;
                    font-family: "Open Sans", sans-serif;
                    color: #3f3d56;
                  }
                h2 {
                    font-size: 1.4vw;
                    padding-left: 15%;
                    color: #3f3d56;
                  }
            }
            
            .home-img {
                width: 60%;
    
                .image {
                    display: block;
                    margin: 0 auto;
                    width: 75%;
                    img {
                    width: 100%;
                    height: 100%;
                    }
                }
            }    
        }
    }    
}