@import "mixin";

.doom {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.container-left {
  @include container;
  background-color: #0078D7;
  width: 34%;
  color: white;
  
  .logo {
    font-size: 24px;
    margin: 1rem 0;
    font-weight: bolder;
    position: relative;
    right: 33%;
    font-family: "Open Sans", sans-serif;
    p {
      color: white;
    }
  }

  .content {
    @include container;
    text-align: center;

    .title {
      margin: 30% 0 5% 0;
      font-size: 3vw;
      font-weight: bolder;
      font-family: "Open Sans", sans-serif;
    }

    .text {
      font-size: 1.5vw;
      padding: 0 5vw;
    }
  }
  .footer {
    margin-top: 1em;
  }
}


.container-right {
  @include container;
  width: 67%;
  margin: 4rem 0;

    .header {
      font-size: 24px;
      font-weight: bolder;
      font-family: "Open Sans", sans-serif;
      margin: 1rem auto;
      color: #0078D7;
    }
  
    .content {
      @include container;
  
      .image {
        display: block;
        margin: 0 auto;
        width: 20%;
        img {
          width: 100%;
          height: 100%;
        }
      }
  
      .form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .form-group {
          align-items: flex-start;
          width: fit-content;
          input {
            @include input;
          }
        }
      }
    }
    .footer {
      margin-top: 1em;
      font-weight: bolder;
    }
}