@import "mixin";

.task-doom {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .container-profile {
    @include container;
    background-color: #e5e5e5;
    width: 34%;
  
    .profile {
      @include container;
      .profile-picture {
        display: block;
        margin: 15vh 0 3vh 0;
        width: 20%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .profile-name {
        span{
          font-weight: bolder;
        }
      }
    }
    .footer {
      margin-top: 2em;
      .divider {
        width: 1rem;
      }
    }
  }
  
  .container-task {
    @include container;
    width: 67%;
    margin: 2.5em 0 0 0;
    
        .task-add {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1em;
    
          .input-add {
            width: fit-content;
            .input-task {
              @include input;
              margin: 1em 0 0 6.5em;
            }
            .submit-task {
              @include butt;
              margin-left: 6.5em;
              border-radius: 5px;
            }
          }
        }
        
        .task-list{
          width: 48rem;
          height: auto;

          .taskTag{
            display: inline;
            position: relative;
            left: 3.5em;
          }

          .dueTag{
            display: inline;
            position: relative;
            left: 26.45rem;
          }

          .impoTag{
            display: inline;
            position: relative;
            left: 30.6rem;
          }
          .tasks {
            background-color: #e5e5e5;
            margin-top: 0.5em;
            height: auto;
            font-size: 16px;
            vertical-align: middle;
            padding-left: 17px;
            border-radius: 5px;
            .item{
              display: grid;
              grid-template-columns: 1rem 23rem 8rem 4rem 1rem 1rem ;
              grid-gap: 25px;
              list-style-type: none;
              height: 3em;
              padding-top: 5px;
              
              .item1{
                padding-top: 5px;
                grid-column: 1 ;
              }

              .item2{
                grid-column: 2 ;
                span{
                  font-size: 16px;
                  margin-left: 1vw;
                }
              }

              .item2x{
                grid-column: 2 ;
                text-decoration: line-through;
                span{
                  font-size: 16px;
                  margin-left: 1vw;
                }
              }

              .item3{
                padding-top: 7px;
                grid-column: 3 ;
              }

              .item4{
                padding-top: 5px;
                grid-column: 4 ;
              }
              
              .item5{
                padding-top: 6px;
                grid-column: 5 ;
                cursor: pointer;
              }

              .item6{
                padding-top: 6px;
                grid-column: 6 ;
                cursor: pointer;
              }
            }
          }
        }
      }
      .footer {
        margin-top: 1em;
        font-weight: bolder;
      }
    
.modal-task {
  @include input;
  margin-left: 2rem;
  margin-top: 5px;
}

.label-task {
  margin-left: 2.5rem;
}